.Hangman {
  font-size: 14px;
  width: 80%;
  margin-top: 50px;
  font-family: monospace;
}

h1 {
  font-size: 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(255, 192, 7);
}
